{% extends "./user_profile_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Создать резюме | Джуманджи{% endblock title %}

{% block content %}
     <section class="col-12 col-lg-8 offset-lg-2 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
         {% if is_updated %}
            <p class="alert alert-info" role="alert">Ваше резюме обновлено!</p>
         {% endif %}
         {% crispy form %}
      </div>
     </section>
{% endblock content %}