{% load crispy_forms_field %}
<div class="col-12 col-md-6">
    <div class="form-group">
        {% for widget in field.subwidgets %}

              <label class="mb-2 text-dark" for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
              <div class="row align-items-center">
                <div class="col-6">
                  <img src="{{ field.value.url }}" alt="" style="max-width: 120px;height: 40px;">
                </div>
                <div class="col-6" style="position: relative;">
                  <div class="input-group-prepend" style="position: absolute; top: 0;right: 15px;">
                    <span class="btn btn-info px-4">Загрузить</span>
                  </div>
                  <div class="custom-file" style="">
                      <input type="{{ widget.data.type }}" name="{{ widget.data.name }}" class="custom-file-input{% if widget.data.attrs.class %} {{ widget.data.attrs.class }}{% endif %}{% if field.errors %} is-invalid{%endif%}"{% if field.field.disabled %} disabled{% endif %}{% for name, value in widget.data.attrs.items %}{% if value is not False and name != 'class' %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
                  </div>
                </div>
              </div>

        {% endfor %}
    </div>
</div>