{% extends "../base/base.html" %}
{% block additional_head %}
  <style>
    body {
      background-color: #F6F2E6;
    }
  </style>
{% endblock additional_head %}
{% block content %}
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% url 'my_company' as my_company_url%}
            {% url 'my_vacancies' as my_vacancies_url%}
            <a class="nav-link {% if request.path ==  my_company_url%}active{% endif %}" href="{{ my_company_url }}">1. Информация о&nbsp;компании</a>
            <a class="nav-link {% if request.path ==  my_vacancies_url%}active{% endif %}" href="{{ my_vacancies_url }}">2. Вакансии</a>
          </div>
        </aside>
      </div>
    <div class="col-12 col-lg-8">
        {% block my_company_content %}{% endblock my_company_content %}
    </div>
    </div>
{% endblock content %}